Repository TrevorPLam/aios: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'npm run check:types || true'

Add analytics client and transport retry tests
  .repo/logs/TASK-085-log-20260124-225214.json
  .repo/tasks/TODO.md
  .repo/traces/TASK-085-trace-20260124-225207.json
  packages/platform/analytics/__tests__/client.test.ts
  packages/platform/analytics/__tests__/transport.test.ts
Due: eslint --fix, prettier --write, bash -c 'npm run check:types || true'

Refine analytics client test cleanup
  .repo/logs/TASK-085-log-20260124-225214.json
  .repo/traces/TASK-085-trace-20260124-225207.json
  packages/platform/analytics/__tests__/client.test.ts
Due: eslint --fix, prettier --write, bash -c 'npm run check:types || true'

fix: make fast-check optional in jest setup
  jest.setup.js
Due: eslint --fix, prettier --write, bash -c 'npm run check:types || true'

Adjust property-based test dependency for installs
  .repo/logs/TASK-085-log-20260125-020641.json
  .repo/tasks/TODO.md
  .repo/traces/TASK-085-trace-20260125-020639.json
  CHANGELOG.md
  apps/api/__tests__/property-based.example.test.ts
  package.json
Due: eslint --fix, prettier --write, bash -c 'npm run check:types || true'

Delete CONSTITUTION_ANALYSIS.md
  .repo/policy/CONSTITUTION_ANALYSIS.md
Due: prettier --write

Delete OPTIMIZATION_SUMMARY.md
  .repo/policy/OPTIMIZATION_SUMMARY.md
Due: prettier --write

Update automation-commands.json
  .repo/policy/automation-commands.json
Due: prettier --write

Update AGENTS.md
  AGENTS.md
Due: prettier --write

Create AGENTS.toon
  AGENTS.toon
Due: none

Update AGENTS.json
  AGENTS.json
Due: prettier --write

Update CLAUDE.md
  CLAUDE.md
Due: prettier --write

Create TODO.toon
  .repo/tasks/TODO.toon
Due: none

Create BACKLOG.toon
  .repo/tasks/BACKLOG.toon
Due: none

Create ARCHIVE.toon
  .repo/tasks/ARCHIVE.toon
Due: none

Delete README.md
  .repo/tasks/README.md
Due: prettier --write

Create INDEX.toon
  INDEX.toon
Due: none

Update TODO.toon
  .repo/tasks/TODO.toon
Due: none

Update AGENTS.toon
  AGENTS.toon
Due: none

Update BACKLOG.toon
  .repo/tasks/BACKLOG.toon
Due: none

Update ARCHIVE.toon
  .repo/tasks/ARCHIVE.toon
Due: none

feat(governance): add expected_commands and actual_execution tracking to task files
  .husky/post-commit
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  .repo/INDEX.toon
  .repo/repo.manifest.toon
  .repo/tasks/ARCHIVE.toon
  .repo/tasks/BACKLOG.toon
  .repo/tasks/TODO.toon
  .repo/templates/AGENT_TRACE_SCHEMA.json
  .repo/traces/README.toon
  .repo/traces/TRACES.toon
  AGENTS.toon
  INDEX.toon
  apps/INDEX.toon
  apps/api/INDEX.toon
  apps/mobile/INDEX.toon
  apps/web/INDEX.toon
  assets/INDEX.toon
  attached_assets/INDEX.toon
  docs/INDEX.toon
  docs/ai-environments/AGENT_ENVIRONMENT_GUIDE.toon
  docs/ai-environments/SETUP_FOR_AI_AGENTS.toon
  docs/analysis/ARCHIVE_COMMANDS_IMPLEMENTATION.md
  docs/analysis/COMMAND_OPTIMIZATION_ANALYSIS.md
  docs/analysis/COMMAND_OPTIMIZATION_IMPLEMENTATION.md
  docs/analysis/EXPECTED_COMMANDS_IMPLEMENTATION.md
  docs/analysis/INDEX_TOON_ANALYSIS.md
  docs/analysis/INDEX_TOON_ANALYSIS_SUMMARY.md
  docs/analysis/INDEX_TOON_ENHANCEMENTS.md
  frontend/INDEX.toon
  package.json
  packages/INDEX.toon
  scripts/INDEX.toon
  scripts/check-boundaries.js
  scripts/generate-index-json.mjs
  scripts/governance-verify.js
Due: eslint --fix, prettier --write, bash -c 'npm run check:types || true'

docs: add CURSORAGENT.md for AI optimization method testing documentation
  CURSORAGENT.md
Due: prettier --write

Move TASK-085 to backlog and refresh TODO
  .repo/hitl/HITL-0002.md
  .repo/logs/TASK-085-log-20260125.md
  .repo/tasks/BACKLOG.toon
  .repo/tasks/TODO.toon
Due: prettier --write

fix(integrations): resolve circular import in IntegrationsScreen and IntegrationDetailScreen
  packages/features/integrations/ui/IntegrationDetailScreen.tsx
  packages/features/integrations/ui/IntegrationsScreen.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run check:types || true'

fix(deps): update react to 19.2.3 to match react-native peer requirement
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update react-test-renderer to 19.2.3 to match react version
  package-lock.json
  package.json
Due: prettier --write

test(integrations): fix test to use findByTestId instead of findByText
  apps/mobile/__tests__/integrationsScreen.test.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run check:types || true'

fix(settings): resolve circular import in SettingsMenuScreen component
  packages/features/settings/ui/SettingsMenuScreen.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run check:types || true'

chore: remove all git hooks and husky setup
  .husky/commit-msg
  .husky/post-commit
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: prettier --write

chore: standardize configuration files (cspell, prettier, nvmrc, gitignore)
  .cspell.json
  .editorconfig
  .gitignore
  .nvmrc
  .prettierrc.json
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs})) or (any of: *.{json,md,yml,yaml,css})
  bash -c 'npm run check:types || true': any of: *.{ts,tsx,js,jsx}
