Repository TrevorPLam/aios: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, npm run check:types

Align repository: adopt .toon format, update agent configs, remove CURSORAGENT.md
  AGENTS.json
  AGENTS.toon
  ARCHITECTURE.md
  ARCHITECTURE.toon
  CURSORAGENT.md
  PRODUCT.md
  PRODUCT.toon
  REPOALIGNMENT.md
Due: npx prettier --write

Complete monorepo migration and cleanup
  .ai/agent-instructions.md
  .ai/context-map.json
  .ai/prompt-templates/backend-api.md
  .ai/prompt-templates/frontend-feature.md
  MIGRATION_COMPLETE.md
  README.md
  apps/api/.ai-context.md
  apps/api/package.json
  apps/mobile/.ai-context.md
  apps/mobile/package.json
  apps/web/.agent-context.json
  apps/web/.ai-context.md
  apps/web/package.json
  apps/web/src/api/.agent-context.json
  apps/web/src/components/.agent-context.json
  docker-compose.yml
  package.json
  packages/contracts/package.json
  packages/design-system/.ai-context.md
  packages/design-system/package.json
  packages/features/.ai-context.md
  packages/features/package.json
  packages/platform/package.json
  pnpm-workspace.yaml
  turbo.json
Due: npx prettier --write

chore: align with FIRST standards - rename web-app to web, configs to config, add tsconfig.base.json
  .github/CODEOWNERS
  .github/workflows/ci.yml
  CHANGELOG.md
  CONTRIBUTING.md
  LICENSE
  README.md
  SECURITY.md
  apps/web/.eslintrc.js
  apps/web/package.json
  apps/web/tsconfig.json
  docker-compose.yml
  packages/config/eslint-config/index.js
  packages/config/eslint-config/node.js
  packages/config/eslint-config/package.json
  packages/config/eslint-config/react.js
  packages/config/jest-config/base.js
  packages/config/jest-config/index.js
  packages/config/jest-config/node.js
  packages/config/jest-config/package.json
  packages/config/jest-config/react-native.js
  packages/config/jest-config/react.js
  packages/config/jest-config/setup-node.js
  packages/config/jest-config/setup-react-native.js
  packages/config/jest-config/setup-react.js
  packages/config/package.json
  packages/config/typescript-config/base.json
  packages/config/typescript-config/node.json
  packages/config/typescript-config/package.json
  packages/config/typescript-config/react.json
  packages/features/jest.config.js
  packages/platform/jest.config.js
  packages/ui/jest.config.js
  pnpm-lock.yaml
  tsconfig.base.json
  tsconfig.json
Due: npx eslint --fix, npx prettier --write, npm run check:types

chore: standardize config files and add .editorconfig
  .editorconfig
  .gitignore
  tsconfig.base.json
  turbo.json
Due: npx prettier --write

feat(AI): add TOON format files for agent-optimized development
  AI/AGENTS.toon
  AI/ARCHIVE.toon
  AI/BACKLOG.toon
  AI/TODO.toon
  AI/TOON.toon
Due: none

chore: set up agents and indexes
  .githooks/INDEX.toon
  .githooks/post-checkout
  .githooks/post-merge
  .github/AGENTS.md
  .github/INDEX.toon
  AGENTS.md
  AGENTS/AGENTS.toon
  AGENTS/INDEX.toon
  AGENTS/TOON.toon
  AGENTS/log/LOGGING_REQUIREMENTS.toon
  AGENTS/tasks/ARCHIVE.toon
  AGENTS/tasks/BACKLOG.toon
  AGENTS/tasks/TODO.toon
  AI/AGENTS.toon
  ALIGNMENT/INDEX.toon
  CLAUDE.md
  INDEX.toon
  apps/INDEX.toon
  packages/INDEX.toon
  scripts/INDEX.toon
  scripts/generate-index-toon.py
  scripts/refresh-indexes.sh
  services/INDEX.toon
Due: npx prettier --write

Create FIRST.md
  FIRST.md
Due: npx prettier --write

asdfas
  .turbo/daemon/2572daacc5b3ab0b-turbo.log.2026-01-30
Due: none

Add repository state report and inject tasks into .agents/tasks
  .agents/INDEX.toon
  .agents/tasks/BACKLOG.toon
  .agents/tasks/REPORT_TASKS.toon
  .agents/tasks/TODO.toon
  REPOSITORY_STATE_REPORT.md
Due: npx prettier --write

Add gateway landing template and env docs
  .env.example
  README.md
  packages/contracts/package.json
  services/api-gateway/package.json
  services/api-gateway/templates/landing-page.html
Due: npx prettier --write

Update landing-page.html
  services/api-gateway/templates/landing-page.html
Due: none

chore(features): ignore ui in eslint
  packages/features/.eslintrc.js
  services/api-gateway/templates/landing-page.html
Due: npx eslint --fix, npx prettier --write, npm run check:types

Update pull_request_template.md
  .github/pull_request_template.md
Due: npx prettier --write

Add alignment standard, GitHub workflows, and agent governance structure
  .github/AGENTS.md
  .github/SECURITY.md
  .github/TEMPTODO.md
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/codeql-analysis.yml
  .github/workflows/reusable-turbo-setup.yml
  .github/workflows/validation-optimized.yml
  .github/workflows/validation.yml
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  INDEX.toon
  agents/AGENTS.toon
  agents/INDEX.toon
  agents/TOON.toon
  agents/log/LOGGING_REQUIREMENTS.toon
  agents/tasks/ARCHIVE.toon
  agents/tasks/BACKLOG.toon
  agents/tasks/REPORT_TASKS.toon
  agents/tasks/TODO.toon
  docs/TEAM_TRAINING.md
  docs/TURBO_CI_CD_BEST_PRACTICES.md
Due: npx prettier --write

feat: Add missing documentation and HITL directory
  .alignment/INDEX.toon
  .githooks/INDEX.toon
  .github/INDEX.toon
  AGENTS.md
  INDEX.toon
  agents/AGENTS.toon
  agents/INDEX.toon
  agents/hitl/README.md
  agents/tasks/TODO.toon
  apps/INDEX.toon
  docs/INDEX.toon
  docs/quality-attributes.md
  docs/security-review-triggers.md
  infrastructure/INDEX.toon
  packages/INDEX.toon
  scripts/INDEX.toon
  services/INDEX.toon
Due: npx prettier --write

Align AIOS repository with comprehensive agentic workflow enhancements
  Makefile
  agents/AGENTS.toon
  agents/hitl/README.md
  agents/hitl/templates/HITL-EXT-template.md
  agents/hitl/templates/HITL-PROT-template.md
  agents/hitl/templates/HITL-SEC-template.md
  agents/hitl/templates/HITL-UNK-template.md
  agents/hitl/templates/README.md
  agents/tasks/templates/BUG-template.md
  agents/tasks/templates/FEATURE-template.md
  agents/tasks/templates/README.md
  docs/SHARED_PATTERNS.md
  scripts/automation/check-hitl-quality.sh
  scripts/automation/check-task-quality.sh
  scripts/automation/sync-workflows.sh
  scripts/metrics/generate-metrics-dashboard.sh
  scripts/metrics/track-workflow-performance.sh
  scripts/security/protected-paths.txt
  scripts/setup.sh
  scripts/verify.sh
Due: npx prettier --write

chore: repo alignment and agentic workflow enhancements
  .cursorrules
  .github/AGENTS.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/copilot-instructions.md
  agents/AGENTS.md
  agents/AGENTS.toon
  agents/WORKFLOW_STANDARDIZATION.toon
  agents/intelligence/task-prioritizer.js
  agents/intelligence/workflow-intelligence.js
  agents/memory/agent-memory.js
  agents/metrics/collect.js
  agents/sync/repos.json
  agents/sync/tasks.js
  agents/tasks/templates/BUG-WORKFLOW.toon
  agents/tasks/templates/DOCS-WORKFLOW.toon
  agents/tasks/templates/FEATURE-WORKFLOW.toon
  agents/tasks/templates/SECURITY-WORKFLOW.toon
  agents/validate/workflow.js
  scripts/security/protected-paths.txt
Due: npx eslint --fix, npx prettier --write, npm run check:types

Remove sync infrastructure and standardize AGENTS.md
  AGENTS.md
  agents/AGENTS.md
  agents/WORKFLOW_STANDARDIZATION.toon
  agents/sync/repos.json
  agents/sync/tasks.js
Due: npx eslint --fix, npx prettier --write, npm run check:types

Add .gitignore to root directory
  .gitignore
Due: none

adfasf
  .github/copilot-instructions.md
  CLAUDE.md
  cursorrules.md
  task.md
Due: npx prettier --write

Migrate tasks from TOON files to markdown documents
  agents/tasks/ARCHIVE.md
  agents/tasks/BACKLOG.md
  agents/tasks/TASK_INDEX.md
  agents/tasks/TODO.md
Due: npx prettier --write

Path conditions:
  npx eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs})
  npx prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs})) or (any of: *.{json,md,yml,yaml,css})
  npm run check:types: any of: *.{ts,tsx,js,jsx}
